<p id="notice"><%= notice %></p>

<p>
  <strong>Game title:</strong>
  <%= @comment.game_title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Username:</strong>
  <%= @comment.username %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
