<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @genre_game.game %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @genre_game.genre %>
</p>

<%= link_to 'Edit', edit_genre_game_path(@genre_game) %> |
<%= link_to 'Back', genre_games_path %>
